{
  "semi": false,
  "singleQuote": true,
  "overrides": [
    {
      "files": "*.hbs",
      "options": {
        "singleQuote": false,
        "endOfLine": "auto"
      }
    }
  ],
  "arrowParens": "avoid",
  "trailingComma": "none",
  "endOfLine": "auto",
  "htmlFormatWrapAttributes": "force-aligned"
}
