<div
  class="chat-feed__item chat-feed__item_text {{#if isSelf}}chat-feed__item_self{{else}}chat-feed__item_contact{{/if}} feed-item"
>
  <div class="feed-item__body">{{{content}}}</div>
  {{!-- <div class="feed-item__time">11:56</div> --}}
</div>
