<div class="success-block">
  <div class="success-block__icon">
    <svg
      width="40"
      height="40"
      viewBox="0 0 40 40"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M15.917 30.0002L6.41699 20.5002L8.79199 18.1252L15.917 25.2502L31.2087 9.9585L33.5837 12.3335L15.917 30.0002Z"
        fill="#22C55E"
      />
    </svg>
  </div>
  <div class="success-block__message">{{{message}}}</div>
  <div class="success-block__button">{{{Button}}}</div>
</div>
