<div style="display: none;" class="modal-wrapper">
    <div id="modal_edit_profile" class="modal">
        <div class="modal__header">
            {{{CloseButton}}}
            <h4>{{{title}}}</h4>
        </div>
        <div class="modal__body">
            {{{body}}}
        </div>

    </div>
    <div class="overlay"></div>
</div>