<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a data-page="home" href="#">Home</a>
    </li>
    <li class="menu__item">
      <a data-page="signin" href="#">Sign in</a>
    </li>
    <li class="menu__item">
      <a data-page="signup" href="#">Sign up</a>
    </li>
    <li class="menu__item">
      <a data-page="profile" href="#">Profile</a>
    </li>
    <li class="menu__item">
      <a data-page="empty" href="#">Empty state</a>
    </li>
    <li class="menu__item">
      <a data-page="not_found" href="#">400</a>
    </li>
    <li class="menu__item">
      <a data-page="server_error" href="#">500</a>
    </li>
  </ul>
</nav>
