<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a data-page="home" href="/">Home</a>
    </li>
    <li class="menu__item">
      <a data-page="signin" href="/pages/signin.hbs">Sign in</a>
    </li>
    <li class="menu__item">
      <a data-page="signup" href="/pages/signup.hbs">Sign up</a>
    </li>
    <li class="menu__item">
      <a data-page="profile" href="/pages/profile.hbs">Profile</a>
    </li>
    <li class="menu__item">
      <a data-page="empty" href="/pages/empty.hbs">Empty state</a>
    </li>
    <li class="menu__item">
      <a data-page="400" href="/pages/400.hbs">400</a>
    </li>
    <li class="menu__item">
      <a data-page="500" href="/pages/500.hbs">500</a>
    </li>
  </ul>
</nav>