<div id="modal_edit_password" class="modal hidden">
    <div class="modal__header">
    <button type="button" class="modal__close">
        {{> UI/Icons/24/Close color="#A3A3A3"}}
    </button>
    <h4>Изменить пароль</h4>
    </div>
    <div class="modal__body">
        <form class="form-layout">
            {{> UI/TextField/Field id="modal-password-old" type="password" label="Старый пароль" name="oldPassword" placeholder="••••••••••"}}
            {{> UI/TextField/Field id="modal-password-new" type="password" label="Новый пароль" name="newPassword" placeholder="••••••••••"}}
            {{> UI/TextField/Field id="modal-password-new-to" type="password" label="Повторить новый пароль" name="newPasswordTo" placeholder="••••••••••"}}
            <div class='btn-group mt-2'>
              {{> UI/Button/Button type="submit" style="btn_regular btn_primary" label="Сохранить"}}
            </div>
        </form>
    </div>
</div>