<nav class="menu">
  <ul class="menu__list">
    <li class="menu__item">
      <a href="/">Home</a>
    </li>
    <li class="menu__item">
      <a href="/pages/signin.hbs">Sign in</a>
    </li>
    <li class="menu__item">
      <a href="/pages/signup.hbs">Sign up</a>
    </li>
    <li class="menu__item">
      <a href="/pages/profile.hbs">Profile</a>
    </li>
    <li class="menu__item">
      <a href="/pages/empty.hbs">Empty state</a>
    </li>
    <li class="menu__item">
      <a href="/pages/400.hbs">400</a>
    </li>
    <li class="menu__item">
      <a href="/pages/500.hbs">500</a>
    </li>
  </ul>
</nav>
