<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='../src/style/main.css' />
    <title>400</title>
</head>
<body>
    <div class="page-layout">
        <div class="error-container">
            <h1>400</h1>
            <p class="text-large">Не туда попали</p>
            {{> UI/Button/Button type="button" style="btn_regular btn_secondary mt-4" label="Назад к чатам"}}
        </div>
    </div>
</body>
</html>