<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Messenger</title>
    <link rel='stylesheet' href='../src/style/main.css' />
  </head>
  <body>
    {{> AppMenu}}
    <div class='app-layout'>
      <div class='app-layout__sidebar app-sidebar'>
        <div class='app-sidebar__profile'>
          <a class="btn btn_small btn_light" href="/pages/profile.hbs"><span>
              {{> UI/Icons/20/Settings color="#A3A3A3"}}
            </span>
            Профиль
          </a>
        </div>
        <div class='app-sidebar__search search-sidebar'>
          <span class='search-sidebar__icon'>
            {{> UI/Icons/20/Search color="#A3A3A3"}}
          </span>
          <input
            type='search'
            name='search'
            class='form-element search-sidebar__input'
            id='sidebar-search'
            placeholder='Поиск'
          />
        </div>
        <div class='app-sidebar__contacts contacts-sidebar'>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>Андрей</div>
                <div class='contacts-item__date'>10:49</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  <span class='text-600 text-base'>Вы:</span>
                  Стикер
                </div>
                <div class='contacts-item__badge'>2</div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>Киноклуб</div>
                <div class='contacts-item__date'>09:35</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  Друзья, у меня для вас особенный выпуск новостей!...
                </div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>Илья</div>
                <div class='contacts-item__date'>пн</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  <span class='text-600 text-base'>Вы:</span>
                  Круто!
                </div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>Вадим</div>
                <div class='contacts-item__date'>ср</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  И Human Interface Guidelines и Material Design рекомендуют...
                </div>
                <div class='contacts-item__badge'>6</div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>Design Destroyer</div>
                <div class='contacts-item__date'>пт</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  Миллионы россиян ежедневно проводят десятки часов свое...
                </div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>тет-а-теты</div>
                <div class='contacts-item__date'>сб</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  Изображение
                </div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>1, 2, 3</div>
                <div class='contacts-item__date'>вс</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  В 2008 году художник Jon Rafman  начал собирать...
                </div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>Day.</div>
                <div class='contacts-item__date'>20 апр 2022</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  Изображение
                </div>
              </div>
            </div>
          </div>
          <div class='contacts-sidebar__item contacts-item'>
            <div class='contacts-item__icon'>
              <span class='contacts-item__icon_default'></span>
            </div>
            <div class='contacts-item__body'>
              <div class='contacts-item__header'>
                <div class='contacts-item__title'>Евгений</div>
                <div class='contacts-item__date'>23 апр 2022</div>
              </div>
              <div class='contacts-item__content'>
                <div class='contacts-item__text'>
                  <span class='text-600 text-base'>Вы:</span>
                  Изображение
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class='app-sidebar__new-chat'>
          <button type='button' class='btn btn_small btn_light'>
            {{> UI/Icons/20/Plus color="#A3A3A3"}}
            Создать чат
          </button>
        </div>
      </div>
      <div class='app-layout__main app-main'>
        <div class='app-main__empty'>
          <p class='text-lightgray'>Выберите чат чтобы отправить сообщение</p>
        </div>
      </div>
    </div>
  </body>
</html>