<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <link rel='stylesheet' href='../src/style/main.css' />
    <title>Profile</title>
  </head>
  <body>
    {{> AppMenu}}
    <div class='profile-layout'>
      <div class='profile-sidebar'>
        <div class='profile-sidebar__back'>
          <a href="/" class='btn btn_icon btn_primary btn_round-full'>
            {{> UI/Icons/20/ArrowBack color='#ffffff'}}
          </a>
        </div>
      </div>
      <div class='profile-main'>
        <div class='profile-container'>
          <div class='profile-header'>
            
            <div class='profile-header__avatar profile-avatar'>
              <img src="/static/images/default-avatar-profile.jpg" alt="default-avatar">
              <div class="profile-avatar__overlay">
                Поменять аватар
              </div>
            </div>
            <div class='profile-header__name'>Иван</div>
          </div>
          <div class='profile-info'>
            <ul class='profile-info__list'>
              {{#each userProfile}}
                <li class='profile-info__item'>
                  <span class="profile-info__title"><strong>{{this.title}}</strong></span>
                  <span class="profile-info__value">{{this.value}}</span>
                </li>
              {{/each}}
            </ul>
          </div>
          <div class='profile-controls'>
            {{> UI/Button/Button type="button" id="btn_edit_profile" style="btn_regular btn_secondary" label="Изменить данные"}}
            {{> UI/Button/Button type="button" id="btn_edit_password" style="btn_regular btn_secondary" label="Изменить пароль"}}
            {{> UI/Button/Button type="button"  style="btn_regular btn_light" label="Выйти"}}
          </div>
        </div>
      </div>
    </div>
    
    {{> Modal/ModalEditProfile}}
    {{> Modal/ModalEditPassword}}
    
    <div class="overlay hidden"></div>
    <script type="module" src="/src/app.js"></script>
  </body>
</html>