.btn {
  display: inline-flex;
  justify-content: center;
  font-weight: 500;
  gap: 0.25rem;
  align-items: center;
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  color: #171717;
  text-decoration: none;

  &_regular {
    padding: .625rem 1rem;
    line-height: 1.125rem;
  }

  &_icon {
    padding: .25rem;
    line-height: 1;
  }

  &_small {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
  }

  &_primary {
    background-color: #171717;
    color: #ffffff;
    &:hover {
      opacity: 0.85;
    }
  }

  &_secondary {
    background-color: transparent;
    color: #171717;
    border-color: #D4D4D4;

    &:hover {
      background-color: #FAFAFA;
    }
  }

  &_light {
    color: #a3a3a3;

    &:hover {
      background-color: #e5e5e5;
    }
  }

  &_link {
    background-color: transparent;
    color: #171717;
    &:hover {
      opacity: 0.85;
    }
  }
  &_round-full {
    border-radius: 9999px;
  }
}

.btn-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
