.text-lightgray {
  color: #a3a3a3 !important;
}

.text-base {
  color: #171717 !important;
}

.text-gary {
  color: #737373 !important;
}

.text-500 {
  font-weight: 500 !important;
}
.text-600 {
  font-weight: 600 !important;
}
.text-700 {
  font-weight: 700 !important;
}
