.text-lightgray {
  color: #a3a3a3 !important;
}

.text-base {
  color: #171717 !important;
}

.text-large {
  font-size: 1.25rem !important;
}

.text-gary {
  color: #737373 !important;
}

.text-500 {
  font-weight: 500 !important;
}
.text-600 {
  font-weight: 600 !important;
}
.text-700 {
  font-weight: 700 !important;
}

.mt-2 {
  margin-top: 2rem; 
}

.mt-4 {
  margin-top: 4rem;
}
