<ul class="profile-info__list">
  {{#each profileData}}
    <li class="profile-info__item">
      <span class="profile-info__title"><strong>{{title}}</strong></span>
      <span class="profile-info__value">{{value}}</span>
    </li>
  {{/each}}
</ul>