<main class="page-layout">
  {{!-- {{{Navigation}}} --}}
  <div class="card card_el-1 card-signup">
    <div class="card__header">
      <h3>Регистрация</h3>
    </div>
    <div class="card__body">
      {{#if isError}}
        {{{Error}}}
      {{/if}}
      {{{Form}}}
    </div>
  </div>
</main>
